main-section {
    display: block;
    // min-height: 60rem;
    padding: 4rem 0;

    & > h2 {
        position: relative;
        width: var(--content-width);
        // margin: auto;
        margin-left: 10%;;
        margin-bottom: 4rem;
        font-family: 'Big Shoulders Display';
        color: rgba(255, 255, 255, .1);
        font-size: 8rem;
        text-transform: uppercase;
        box-sizing: border-box;

        &::before {
            content: ".";
            display: block;
            position: absolute;
            right: 100%;
            color: inherit;
            font-size: inherit;
        }
    }
}

page-section.dark {
    background: rgba(0, 0, 0, .2);

    h2 {
        color: rgba(200, 200, 255, .1);
    }
}

@media (max-width: 640px) {
    main-section h2 {
        width: 100%;
        margin-left: 4rem;
    }
}