<main-section data-title="about" class="dark full-height">
    <h2>Hi ! I'm Grégory, a passionnate student web developer.</h2>

    <p>I build things in <strong>Full-Stack JavaScript</strong>, and I usually work with <strong>TypeScript</strong>, <strong>Node.js</strong>, <strong>React</strong> and <strong>Web components</strong>. I'm also a huge <strong>Golang</strong> enthusiast.</p>

    <p>I also enjoy <strong>solving problems</strong> and reached 5 stars on <a href="https://hackerrank.com/gregoryalbouy75" target="_blank" rel="noopener noreferrer" class="link--ext">HackerRank</a>.</p>

    <p>I am currently learning <strong>NestJS</strong> and <strong>GraphQL</strong>.</p>
    
    <aside-info>
        <p>
            I am looking for a <strong>24 months apprenticeship</strong> in web development starting ASAP, preferably in <em>Back-end</em> or <em>Full-Stack JavaScript</em>.
        </p>
        <ul>
            <li>
                <span role="img" aria-label="jsx-a11y/accessible-emoji">📄</span>&nbsp;
                Have a look at <a href="https://gregoryalbouy.com/cv" title="my CV" target="_blank" rel="noopener noreferrer">my resume</a>
            </li>
            <li>
                <span role="img" aria-label="jsx-a11y/accessible-emoji">➡️</span>&nbsp;
                Check <route-link to="projects">my work</route-link>
            </li>
            <li>
                <span role="img" aria-label="jsx-a11y/accessible-emoji">➡️</span>&nbsp;
                See my <a href="https://github.com/gregoryalbouy" target="_blank" rel="noopener noreferrer">Github repos</a>
            </li>
        </ul>
    </aside-info> 
</main-section>