<main-section data-title="about" class="dark full-height">
    <p>Fond of JavaScript environment, especially <strong>Webcomponents</strong> and <strong>Node.js</strong>.</p>
    <p>I enjoy <strong>solving problems</strong> and building things <strong>from scratch</strong>.</p>
    
    <aside-info>
        <p>
            I am looking for a <strong>3-6 months internship</strong> in web development starting from July, preferably in <em>Full-Stack JavaScript</em>.
        </p>
        <ul>
            <li>
                <span role="img" aria-label="jsx-a11y/accessible-emoji">📄</span>&nbsp;
                Have a look at <a href="https://gregoryalbouy.com/cv" title="my CV" target="_blank" rel="noopener noreferrer">my resume</a>
            </li>
            <li>
                <span role="img" aria-label="jsx-a11y/accessible-emoji">➡️</span>&nbsp;
                Check <route-link to="projects">my work</route-link>
            </li>
        </ul>
    </aside-info>
</main-section>
