page-about {
    display: block;

    main-section {
        font-size: 1.6rem;

        > .content {
            max-width: var(--width-s);
        }
    }

    aside-info {
        margin: 0;
        margin-top: 4rem;
    }
}
