@mixin absolute-center($n) {
    position: absolute;
    top: calc(50% - #{$n / 2});
    left: calc(50% - #{$n / 2});
}

@mixin link {
    a,
    a:visited {
        color: inherit;
        font-size: inherit;
        text-transform: inherit;
    }
}

@mixin box-sizing {
    *,
    *::before,
    *::after,
    :host {
        box-sizing: border-box;
    }
}