:host {
    display: block;
    padding: 4rem;

    & > *:not(:last-child) {
        margin: 0 0 2rem 0;
    }
}

.logo {
    display: none;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 20rem;
}

h1 {
    font-size: 6rem;
}

.subtitle {
    font-size: 3rem;
}