<form data-ref="form">
    <input type="email" data-ref="email" placeholder="email: ceo@google.com" required />
    <input type="text" data-ref="subject" placeholder="subject: We want you!" required />
    <textarea data-ref="message" placeholder="Hello Gregory," required></textarea>
    <button data-ref="button">Send</button>
</form>

<template data-ref="success">
    <aside-info class="success"><p>Message sent!</p></aside-info>
</template>

<template data-ref="error">
    <aside-info class="failure"><p>Error.</p></aside-info>
</template>