@use '../../assets/style/utils' as u;

@include u.link;

a {
    text-decoration: none;
}

:host {
    display: block;
    padding: 4rem;
    margin: auto;

    & > *:not(:last-child) {
        margin: 0 0 2rem 0;
    }
}

header {
    position: relative;
}

h1 {
    margin: 0;
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 6rem;
    text-transform: uppercase;

    span {
        display: block;
        margin-bottom: 1rem;
    }
}

.subtitle {
    margin: 0;
    color: rgba(255, 255, 255, .4);
    font-size: 3rem;
}

.social {
    position: absolute;
    top: 0;
    right: 0;

    a {
        display: block;
    }

    svg {
        width: 4rem;
        fill: rgba(255, 255, 255, .1);
        transition: 400ms;

        &:hover {
            fill: var(--main-color);
        }
    }
}

@keyframes sitetitle {
    100% {

    }
}

#site-title {
    width: 325px;

    text {
        font-size: 6rem;
        fill: var(--text-color);
        font-family: 'Big Shoulders Display', sans-serif;
        font-weight: 700;
        stroke: var(--text-color);
        stroke-dasharray: 0 1;
        // vector-effect: non-scaling-stroke;
        transition: fill .4s,
                    stroke-dasharray 2s .4s linear;
    }
    
    text:hover {
        fill: transparent;
        stroke-dasharray: 100%;
    }
}

@media (max-width: 640px) {
    :host {
        padding: 4rem 2rem;
    }
}

@media (max-width: 480px) {
    .social {
        display: none;
    }
}