@use '../../assets/style/utils' as utils;

* { box-sizing: border-box; }

:host {
    display: block;
    width: 45rem;
    background: rgba(0, 0, 0, .4);
    padding: 2rem;
    margin: 4rem auto 0;
    border-left: .4rem solid var(--main-color);
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .2);
    font-size: 1.4rem;
    line-height: 140%;

    p {
        margin: 0;
    
        &:not(:last-child) {
            margin: 0 0 1rem;
        }
    }

    ul {
        list-style: none;
        padding-left: 2rem;
        margin: 0;

        li {
            margin-bottom: .4rem;
        }
    }

    @include utils.link;
}

:host(.failure) {
    border-left-color: #F50;
}

:host(.success) {
    border-left-color: #5F0;
}

@media (max-width: 640px) {
    :host {
        width: 100%;
    }
}