<page-header>
    <span slot="title">Grégory Albouy</span>

    <span slot="subtitle">Web development student</span>

    <div>
        <aside-info>
            <p>This page is <em>under development</em>.</p>
            <p>You can still take a look at some of my work below.</p>
        </aside-info>
    </div>
</page-header>

<!-- <page-section data-title="About"></page-section> -->

<page-section data-title="Projects">
    <project-list data-ref="projectList"></project-list>
</page-section>

<!-- <page-section data-title="Contact"></page-section> -->

<page-footer></page-footer>