<page-header>

    <span slot="title">Grégory Albouy</span>

    <span slot="subtitle">Web development student</span>

    <aside-info>
        <p>This page is <em>under development</em>.</p>
        <p>You can still take a look at some of my work below.</p>
    </aside-info>
</page-header>

<!-- <page-section data-title="About"></page-section> -->

<page-section class="full-height" data-title="Projects">
    <project-list></project-list>
</page-section>

<page-section data-title="Contact">
    <contact-box></contact-box>
</page-section>

<page-footer></page-footer>