<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Portfolio of a web development student. Fond of Full-Stack JavaScript environment: Webcomponents, React, Node.js.">
    <title>Gregory Albouy | Web developer</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="<%= require('./assets/favicon/apple-touch-icon.png').default %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= require('./assets/favicon/favicon-32x32.png').default %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= require('./assets/favicon/favicon-16x16.png').default %>">
    <!-- <link rel="manifest" href="./assets/favicon/site.webmanifest"> -->
    <link rel="mask-icon" href="<%= require('./assets/favicon/safari-pinned-tab.svg').default %>" color="#00ffee">
    <link rel="shortcut icon" href="<%= require('./assets/favicon/favicon.ico').default %>">
    <meta name="msapplication-TileColor" content="#2b5797">
    <!-- <meta name="msapplication-config" content="./assets/favicon/browserconfig.xml"> -->
    <meta name="theme-color" content="#181822">

    <!-- OG -->
    <meta property="og:url" content="https://gregoryalbouy.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Gregory Albouy portfolio" />
    <meta property="og:description" content="Portfolio of a web development student. Fond of Full-Stack JavaScript environment: Webcomponents, React, Node.js." />
    <meta property="og:image" content="http://gregoryalbouy.com/media/images/logo@4x.png" />
    <meta property="og:image:secure_url" content="https://gregoryalbouy.com/media/images/logo@4x.png" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="800" />
    <meta property="og:image" content="http://gregoryalbouy.com/media/images/logo@2x.png" />
    <meta property="og:image:secure_url" content="https://gregoryalbouy.com/media/images/logo@2x.png" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="400" />
    <meta property="og:image" content="http://gregoryalbouy.com/media/images/logo@1x.png" />
    <meta property="og:image:secure_url" content="https://gregoryalbouy.com/media/images/logo@1x.png" />
    <meta property="og:image:width" content="200" />
    <meta property="og:image:height" content="200" />

</head>
<body>
    <app-root></app-root>
</body>
</html>